// label color
$parts-simple-table-default-label-color: #52c2d0;
$parts-simple-table-second-label-color: #84d052;
// td color
$parts-simple-table-default-contents-color: #eeeeee;

// header-background-color
$parts-simple-table-default-header-color: #e9faeb;

// header-font-weight
$parts-simple-table-default-header-font-weight: 500;

// border-color
// $parts-simple-table-default-border-color: #757575;
$parts-simple-table-default-border-color: #aaaaaa;

.parts-simple-table {
  &.parts-simple-table__table-element {
    width: 100%;
    text-align: center;
    // border-collapse: collapse; // border-radius無効
    border-collapse: separate;
    border-spacing: 0;
    border: solid 1px $parts-simple-table-default-border-color;
    border-radius: 6px;

    thead th,
    tbody th,
    tbody td {
      padding: .6em 3em;
      border-bottom: 1px solid $parts-simple-table-default-border-color;
    }
    thead th {
      background-color: #ddd;
      font-weight: $parts-simple-table-default-header-font-weight;
    }
    tbody th {
      background-color: #eee;
    }
    tbody td {
      &:not(:first-child) {
        border-left: 1px solid $parts-simple-table-default-border-color;
      }
    }
    tbody tr:last-child th,
    tbody tr:last-child td {
      border-bottom: none;
    }

    thead tr:first-child th {
      &:not(:first-child) {
        border-left: 1px solid $parts-simple-table-default-border-color;
      }
    }

    thead tr:first-child th:first-child {
      border-radius: 5px 0 0 0;
    }
    thead tr:first-child th:last-child {
      border-radius: 0 5px 0 0;
    }
    tbody tr:last-child th:first-child {
      border-radius: 0 0 0 5px;
    }
    tbody tr:last-child th:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}
