// label color
$parts-simple-heading-color-black: #000000;
$parts-simple-heading-color-dark-grey: #757575;
$parts-simple-heading-color-blue: #1565c0;
$parts-simple-heading-color-green: #006f5f;
$parts-simple-heading-color-red: #ac291d;

.parts-simple-heading {
  text-align: left;
  padding: 0 0 0 8px;
  font-weight: 400;

  &__black {
    border-bottom: solid 3px $parts-simple-heading-color-black;
  }

  &__dark-grey {
    border-bottom: solid 3px $parts-simple-heading-color-dark-grey;
  }

  &__blue {
    border-bottom: solid 3px $parts-simple-heading-color-blue;
  }

  &__green {
    border-bottom: solid 3px $parts-simple-heading-color-green;
  }

  &__red {
    border-bottom: solid 3px $parts-simple-heading-color-red;
  }
}
